@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: '宋体';
  height: 2500px;
  padding: 0;
  margin: 0; }

header {
  height: 90px;
  background: pink; }

.banner {
  width: 100%; }

.ban {
  width: 1100px;
  height: 650px;
  margin: 0 auto; }
  .ban .left {
    width: 430px;
    height: 540px;
    float: left; }
    .ban .left img {
      height: 400px;
      width: 370px; }
    .ban .left .leftImg {
      width: 370px; }
      .ban .left .leftImg img {
        margin: 30px auto;
        width: 60px;
        height: 70px;
        margin-right: 7px; }
  .ban .center {
    width: 430px;
    float: left; }
    .ban .center h3 {
      color: black;
      font-size: 22px; }
    .ban .center p {
      color: #ff0037;
      font-size: 15px;
      margin: 20px auto; }
    .ban .center button {
      width: 130px;
      height: 40px;
      background: #ffeded;
      border: 1px solid #ff0037;
      color: #ff0037;
      font-size: 15px;
      line-height: 30px;
      margin-left: 50px; }
    .ban .center .button1 {
      background: #ff0037;
      color: white; }

.box1 {
  height: 40px;
  background: #f0eeef;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 20px; }
  .box1 span {
    color: #d2d2d2;
    font-size: 15px; }
  .box1 .boxSpan {
    font-size: 22px;
    color: #ff0037;
    font-weight: bold;
    margin-left: 30px; }
  .box1 select {
    color: #2f2a26;
    font-size: 16px;
    margin-left: 30px;
    width: 40px;
    border: 0px solid gray; }

.box2 {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #f0eeef;
  border-bottom: 1px solid #f0eeef; }
  .box2 span {
    color: #d2d2d2;
    font-size: 15px;
    width: 100px; }
    .box2 span span {
      color: #ff0037;
      font-size: 15px;
      padding-left: 15px;
      padding-right: 85px; }
    .box2 span .box2Span {
      color: #00832f;
      font-size: 15px;
      padding-left: 15px; }

.box3 {
  background: white; }
  .box3 .box3Span {
    color: #ff0037;
    margin-left: 15px; }
  .box3 span {
    margin-left: 15px; }

.right {
  width: 240px;
  height: 400px;
  float: left;
  font-size: 15px;
  text-align: center; }
  .right .img1 img {
    width: 145px; }
  .right .img1 p {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-bottom: 10px; }

.linebox {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  float: left;
  margin-left: 12px; }

.span1 {
  color: #c3c1c2;
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  float: left; }

.line {
  border: 1px solid gray;
  width: 40px;
  display: block;
  margin: 20px 13px;
  float: left; }

.active {
  border: 1px solid #c3c1c2;
  width: 720px;
  height: 240px;
  margin: 20px auto; }
  .active table {
    width: 500px; }
  .active p {
    font-size: 18px;
    color: #ff0037; }

tr {
  width: 200px;
  height: 30px; }
  tr th {
    color: black; }
  tr td {
    text-align: left;
    color: #c3c1c2; }

/*# sourceMappingURL=shopping.css.map */
