@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  font-family: '宋体';
  height: 2500px;
  padding: 0;
  margin: 0; }

/* header */
header {
  width: 100%;
  height: 90px;
  background: white;
  position: fixed;
  top: 0px;
  z-index: 1; }

.lo {
  width: 960px;
  margin: 0 auto;
  height: 90px; }

.logo {
  height: 90px;
  clear: both;
  width: 1031px; }

.logoimg {
  float: left;
  margin-top: 21px; }

.logo li {
  float: left;
  height: 90px;
  line-height: 90px;
  list-style: none;
  margin-right: 40px; }

.abox {
  color: black;
  font-size: 15px;
  text-decoration: none; }

.logo .logoBox {
  margin-right: 0; }

.gouwubox {
  margin-top: 5px;
  float: left; }

.cart {
  height: 40px;
  line-height: 40px;
  position: relative;
  margin-top: 20px;
  width: 110px; }

.cart:hover .hideCart {
  display: block; }

.cartLink {
  display: block;
  overflow: hidden;
  color: black;
  border-radius: 8px;
  border: 1px solid #998585;
  font-size: 15px; }

.cartLink span {
  float: left; }

.cartLink strong {
  line-height: 40px;
  float: left; }

.cart .hideCart {
  width: 312px;
  background: #eccfcf;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: -40px;
  display: none; }

.cart .hideCart .loadLay {
  height: 16px;
  line-height: 16px;
  padding: 20px 0;
  text-align: center; }

.ban {
  margin: 0 auto;
  height: 320px;
  width: 1349px; }
  .ban img {
    height: 320px;
    width: 1349px; }

.banner {
  width: 100%;
  height: 900px;
  margin-top: 90px; }

.leiXing {
  margin: 60px auto;
  width: 780px;
  height: 30px; }
  .leiXing .lei {
    width: 135px;
    float: left;
    margin-bottom: 40px; }
    .leiXing .lei .left {
      border-bottom: 1px solid gray;
      width: 135px;
      height: 30px;
      vertical-align: middle;
      line-height: 30px;
      position: relative; }
      .leiXing .lei .left span {
        color: #77a3a1;
        font-size: 14px;
        display: block;
        margin-left: 20px;
        float: left; }
      .leiXing .lei .left img {
        float: left; }
    .leiXing .lei .bottom {
      width: 135px;
      display: none;
      position: absolute;
      background: white;
      box-shadow: 0px 0px 4px -1px; }
      .leiXing .lei .bottom input {
        width: 27px;
        margin-top: 5px; }
      .leiXing .lei .bottom span {
        color: #40454b;
        font-size: 12px; }
      .leiXing .lei .bottom .botBox {
        width: 36px;
        height: 20px;
        margin-top: 15px;
        margin-left: 15px;
        position: relative;
        overflow: hidden;
        background: white;
        border: 1px solid gray; }
        .leiXing .lei .bottom .botBox div {
          width: 36px;
          height: 20px;
          position: absolute; }
        .leiXing .lei .bottom .botBox p {
          width: 36px;
          height: 20px;
          position: absolute;
          left: -36px;
          transition: all -0.2s .5s;
          background: gray; }
          .leiXing .lei .bottom .botBox p span {
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            margin-left: 6px;
            margin-bottom: 10px;
            color: #3e4146; }
        .leiXing .lei .bottom .botBox span {
          text-align: center;
          font-size: 12px;
          line-height: 20px;
          margin-left: 6px;
          margin-bottom: 10px;
          color: #3e4146; }
  .leiXing .leftBox {
    margin-right: 280px; }
  .leiXing .leftBox2 {
    margin-right: 95px; }

.left:hover {
  background: #044d3c; }

.lei .left:hover img {
  background: url(../img/xshang.png) 120px 0px; }

.lei:hover .bottom {
  display: block; }

.bottom .botBox:hover div {
  right: 0; }

.lei .bottom .botBox:hover p {
  background: gray;
  left: 0; }

.lei .bottom .botBox:hover span {
  color: white; }

.leftImg {
  margin: 0 auto;
  width: 780px; }
  .leftImg .box {
    width: 215px;
    height: 400px;
    float: left; }
    .leftImg .box img {
      width: 215px;
      height: 210px;
      background-color: #f4f4f4; }
    .leftImg .box p {
      color: #4e444f;
      font-size: 20px;
      margin-top: 20px; }

#leftP {
  color: #aba7a8;
  font-size: 13px; }

.box .boxZuo {
  width: 60px;
  height: 25px;
  margin-top: 40px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  background: white;
  float: left;
  border: 1px solid gray; }
  .box .boxZuo div {
    width: 60px;
    height: 25px;
    position: absolute;
    background: white; }
  .box .boxZuo .word {
    width: 60px;
    height: 25px;
    position: absolute;
    left: -60px;
    transition: all -0.3s 0.4s;
    background: gray;
    top: -20px; }
    .box .boxZuo .word span {
      font-size: 12px;
      line-height: 25px;
      margin-left: 6px;
      color: black;
      width: 60px;
      height: 25px;
      position: absolute; }
  .box .boxZuo span {
    font-size: 12px;
    line-height: 25px;
    margin-left: 6px;
    color: black;
    width: 60px;
    height: 25px;
    position: absolute; }

.boxZuo:hover div {
  right: 0; }

.boxZuo:hover .word {
  left: 0; }

.boxZuo:hover span {
  color: white; }

.leftImg .ImgBox {
  margin: 0 67px; }

#div2 {
  width: 1000px;
  position: fixed;
  top: 320px;
  margin: -25px 165px;
  position: absolute;
  display: flex;
  background: #044d3c; }
  #div2 ul {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: space-around; }
    #div2 ul li {
      font-size: 16px;
      float: left;
      line-height: 50px; }
      #div2 ul li a {
        color: white; }

.pageBox {
  margin: 0 auto;
  width: 300px; }
  .pageBox .pag {
    width: 300px;
    height: 50px; }
    .pageBox .pag ul {
      width: 400px;
      height: 50px;
      text-align: center;
      list-style: none; }
      .pageBox .pag ul li {
        color: black;
        font-size: 16px;
        float: left;
        width: 60px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid gray;
        margin-right: 15px;
        line-height: 30px; }

/* footer */
footer {
  width: 100%;
  background: #044d3c; }

.foot {
  height: 347px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  margin-top: 100px; }

.footimg {
  width: 90px;
  height: 48px;
  float: left; }

.foot1 {
  margin-left: 100px;
  width: 445px;
  float: left; }

.foot1box {
  margin-bottom: 23px;
  color: white;
  font-size: 20px; }

.foot1 span {
  color: #73afa3;
  font-size: 15px;
  float: left;
  margin-right: 106px;
  margin-bottom: 27px; }

.foot .footspan1 {
  display: block;
  height: 205px;
  margin-right: 80px; }

.foot .fbox {
  margin-right: 74px; }

.foot2 {
  float: left;
  width: 315px;
  height: 240px;
  border-right: 1px solid #186150; }

.foot2 img {
  margin-right: 23px;
  width: 26px;
  height: 26px; }

.foot2 span {
  color: #73afa3;
  font-size: 15px; }

.foot2box {
  margin-top: 24px;
  margin-bottom: 24px; }

.foot3 {
  width: 154px;
  height: 200px;
  float: left;
  text-align: center;
  margin-left: 90px; }

.foot3 img {
  width: 102px;
  height: 102px; }

.foot3box {
  color: #bde1dd;
  font-size: 13px;
  margin-top: 17px; }

.foot4 {
  text-align: center;
  font-size: 14px;
  height: 57px;
  line-height: 57px;
  color: #73afa3;
  clear: both;
  border-top: 1px solid #0f5847; }

/*# sourceMappingURL=three.css.map */
