 table {
	text-align:center;
  margin-top:5%;
  border:1px solid gray;
  background:url(../img/15.png)right top;
  background-repeat:no-repeat;
  width:650px;
  height:530px;
  box-shadow: 1px 1px 6px -2px
}
.y_span {
	color:#9C9A9A;
}
.r_span {
	color:red;
}
.g_span {
	color:green;
}
input{
  border-radius:10px;
  width:150px;
  height:30px;
}
td{
  font-size:16px;
  color:black;
}
#sex{
  width:20px;
  height:20px;
  float:left;
}
span{
  float:left;
  font-size:16px;
}
tr{
  float:left;
  margin-top:20px;
  margin-left:20px;
  width: 630px;
}
#btn{
  width:100px;
}